@import '../../../styles/index.scss';

.about-me {
    padding: 80px 0;

    @media (max-width:600px) {
        padding: 60px 0;
    }

    .container {
        section {
            .heading {
                width: fit-content;
                margin: 0 auto;

                h2 {
                    font-family: "Nunito", sans-serif;
                    font-size: 30px;
                    font-weight: 600;
                    color: var(--theme-dark-text-color);

                    @media (max-width:768px) {
                        font-size: 30px;
                    }
                }
            }

            .details-heading {
                display: flex;
                align-items: center;
                gap: 30px;
                margin-top: 30px;
                justify-content: center;

                @media (max-width:800px) {
                    flex-direction: column;
                }

                p {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 16px;
                    font-family: "Poppins", sans-serif;
                    text-align: center;
                    font-weight: 400;
                    letter-spacing: .5px;
                    color: var(--theme-primary-white-color);
                    background-color: var(--theme-dark-backgroud-color);
                    padding: 20px;
                    border-radius: 8px;
                    box-shadow: 7px 10px 11px -4px rgba(0, 0, 0, 0.47);

                    .dot-icon {
                        font-size: 20px;
                        color: var(--theme-sky-blue-text-color);
                    }

                    @media (max-width:800px) {
                        font-size: 14px;
                        width: 100%;
                        padding: 20px 30px;

                        .dot-icon {
                            font-size: 18px;
                            color: var(--theme-sky-blue-text-color);
                        }
                    }

                    @media (max-width:350px) {
                        font-size: 12px;
                        padding: 20px 10px;
                    }
                }
            }

            .details {
                font-size: 16px;
                font-weight: 600;
                text-align: center;
                margin: 20px auto 0 auto;
                padding: 20px;
                max-width: 900px;
                border-radius: 20px;
                background-color: var(--theme-sky-blue-background-color);
                color: var(--theme-dark-text-color);
                box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);

                @media (max-width:800px) {
                    font-size: 14px;
                }
            }
        }
    }
}