@font-face {
    font-family: "Baskervville", serif;
    src: url(../../assets/font/Baskervville/Baskervville-Regular.ttf);
}

@font-face {
    font-family: "Nunito", sans-serif;
    src: url(../../assets/font/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Khula", sans-serif;
    src: url(../../assets/font/Khula/Khula-Regular.ttf);
}

@font-face {
    font-family: "Khula-bold", sans-serif;
    src: url(../../assets/font/Khula/Khula-Bold.ttf);

}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(../../assets/font/Poppins/Poppins-Regular.ttf);
}