:root {
    --theme-dark-backgroud-color: #070F2B;
    --theme-dark-border-color: #070F2B;
    --theme-dark-text-color: #070F2B;
    --theme-sky-blue-text-color: #2882d7;
    --theme-sky-blue-background-color: rgb(235, 246, 255);
    --theme-sky-blue-border-color: #2782d8;
    --theme-primary-pink-dark-border-color: #f72799;
    --theme-primary-pink-background-color: #F72798;
    --theme-primary-blue-border-color: #2882d750;
    --theme-primary-white-color: #ffffff;
    --theme-primary-white-border-color: #ffffff;
    --theme-primary-green-border-color: #3bff3b;
    --theme-primary-black-background-color: #000000;
}