:root {
    --theme-steps: 13;
    --theme-dark-backgroud-color: #070F2B;
    --theme-primary-pink-text-color: #F72798;
    --theme-primary-pink-border-color: #f7279950;
    --theme-primary-white-color: #ffffff;
    --theme-primary-white-border-color: #ffffff50;
    --theme-primary-green-border-color: #3bff3b;
    --theme-primary-black-background-color: #000000;
}