@import '../../../styles/index.scss';

.profile {
    .container {
        section {
            .headeing {
                width: fit-content;
                margin: 60px auto 0 auto;
                padding: 0 20px;
                border-bottom: 2px solid var(--theme-primary-pink-border-color);

                h1 {
                    font-size: 90px;
                    font-weight: 600;
                    color: var(--theme-primary-pink-text-color);

                    @media (max-width:768px) {
                        font-size: 60px;
                    }

                    @media (max-width:576px) {
                        font-size: 50px;
                    }
                }

            }

            .profile-photo {
                cursor: pointer;
                max-width: 400px;
                height: 518px;
                margin: 20px auto 0 auto;
                background: linear-gradient(186deg, rgba(215, 235, 255, 1) 0%, rgba(237, 250, 255, 1) 42%, rgba(67, 203, 255, 1) 100%);
                padding: 30px;
                border-radius: 30px;

                @media (max-width:576px) {
                    padding: 20px;
                }

                @media (max-width:768px) {
                    height: auto;
                }

                .photho-overflow {
                    max-width: 340px;
                    overflow: hidden;
                    height: 454px;
                    border-radius: 22px;

                    @media (max-width:768px) {
                        height: auto;
                    }

                    img {
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        height: auto;
                        object-fit: cover;
                        transition: .5s ease-in-out;

                        &:hover {
                            transform: scale(1.09);
                            transition: .5s ease-in-out;
                        }
                    }
                }
            }

            .profile-icons {
                cursor: pointer;
                max-width: 100px;
                height: auto;
                margin: 20px auto 0 auto;
                background: linear-gradient(186deg, rgba(215, 235, 255, 1) 0%, rgba(237, 250, 255, 1) 42%, rgba(67, 203, 255, 1) 100%);
                padding: 10px;
                border-radius: 30px;


                @media (max-width:768px) {
                    height: auto;
                }

                .photho-overflow {

                    img {
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }

            .intro {
                cursor: pointer;
                max-width: 400px;
                margin: 20px auto 0 auto;
                padding: 10px;
                transition: .5s ease-in-out;
                overflow: hidden;
                position: relative;
                box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.13);

                span:nth-child(1) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(to right, var(--theme-dark-backgroud-color), var(--theme-primary-green-border-color));
                    animation: animate1 2s linear infinite;
                }

                @keyframes animate1 {
                    0% {
                        transform: translateX(-100%);
                    }

                    100% {
                        transform: translateX(100%);
                    }
                }

                span:nth-child(2) {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 3px;
                    background: linear-gradient(to bottom, var(--theme-dark-backgroud-color), var(--theme-primary-green-border-color));
                    animation: animate2 2s linear infinite;
                    animation-delay: 1s;
                }

                @keyframes animate2 {
                    0% {
                        transform: translateY(-100%);
                    }

                    100% {
                        transform: translateY(100%);
                    }
                }

                span:nth-child(3) {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 3px;
                    background: linear-gradient(to left, var(--theme-dark-backgroud-color), var(--theme-primary-green-border-color));
                    animation: animate3 2s linear infinite;
                }

                @keyframes animate3 {
                    0% {
                        transform: translateX(100%);
                    }

                    100% {
                        transform: translateX(-100%);
                    }
                }

                span:nth-child(4) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 3px;
                    background: linear-gradient(to top, var(--theme-dark-backgroud-color), var(--theme-primary-green-border-color));
                    animation: animate4 2s linear infinite;
                    animation-delay: 1s;
                }

                @keyframes animate4 {
                    0% {
                        transform: translateY(100%);
                    }

                    100% {
                        transform: translateY(-100%);
                    }
                }

                .typing {
                    margin: 0 auto;
                    width: fit-content;
                    font-weight: 300;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-size: 35px;
                    color: var(--theme-primary-white-color);

                    @media (max-width:576px) {
                        font-size: 20px;
                    }
                }

                p {
                    font-family: "Nunito", sans-serif;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    font-size: 15px;
                    color: var(--theme-primary-white-color);

                    @media (max-width:576px) {
                        font-size: 8px;
                    }
                }
            }

            .button-cta {
                display: flex;
                gap: 20px;
                width: fit-content;
                margin: 30px auto 0 auto;

                @media (max-width:576px) {
                    flex-direction: column;
                }

                .cta {
                    cursor: pointer;
                    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.13);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    color: var(--theme-primary-white-color);
                    border: 2px solid var(--theme-primary-pink-dark-border-color);
                    font-size: 20px;
                    border-radius: 8px;
                    transition: .5s ease-in-out;

                    &:hover {
                        border: 2px solid var(--theme-primary-white-border-color);
                        transition: .5s ease-in-out;
                    }

                    p {
                        margin-left: 5px;
                    }
                }

            }
        }
    }
}