@import '../../../styles/index.scss';

.profile {
    .container {
        section {

            .headeing {
                width: fit-content;
                margin: 60px auto 0 auto;
                padding: 0 20px;
                border-bottom: 2px solid var(--theme-primary-blue-border-color);

                h1 {
                    font-size: 90px;
                    font-weight: 600;
                    color: var(--theme-primary-blue-text-color);

                    @media (max-width:768px) {
                        font-size: 60px;
                    }

                    @media (max-width:576px) {
                        font-size: 50px;
                    }
                }

            }

            .photos {
                position: relative;
            }

            .profile-photo {
                cursor: pointer;
                max-width: 400px;
                height: 518px;
                margin: 20px auto 0 auto;
                background-color: #ffffff;
                padding: 30px;
                border-radius: 30px;
                box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);

                @media (max-width:576px) {
                    padding: 20px;
                }

                @media (max-width:768px) {
                    height: auto;
                }

                .photho-overflow {
                    overflow: hidden;
                    height: 454px;
                    border-radius: 22px;

                    @media (max-width:768px) {
                        height: auto;
                    }

                    img {
                        display: block;
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        height: auto;
                        object-fit: cover;
                        transition: .5s ease-in-out;

                        &:hover {
                            transform: scale(1.09);
                            transition: .5s ease-in-out;
                        }
                    }
                }
            }

            .profile-icons1 {
                position: absolute;
                top: 200px;
                left: -20px;
            }

            .profile-icons2 {
                position: absolute;
                top: 160px;
                left: 180px;
            }

            .profile-icons3 {
                position: absolute;
                top: 160px;
                right: 180px;
            }

            .profile-icons4 {
                position: absolute;
                top: 200px;
                right: 0;
            }

            .profile-icons {
                cursor: pointer;
                max-width: 150px;
                height: auto;
                margin: 20px auto 0 auto;
                background-color: var(--theme-primary-white-color);
                padding: 10px;
                border-radius: 10px;
                box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);


                @media (max-width:1120px) {
                    display: none;
                }

                .photho-overflow {

                    img {
                        border-radius: 20px;
                        width: 100%;
                        height: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }

            .intro {
                cursor: pointer;
                max-width: fit-content;
                margin: 30px auto 0 auto;
                padding: 15px 20px;
                transition: .5s ease-in-out;
                overflow: hidden;
                position: relative;
                border-radius: 20px;
                background-color: var(--theme-primary-white-color);
                box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);

                .typing {
                    margin: 0 auto;
                    width: fit-content;
                    font-weight: 300;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-size: 35px;
                    color: var(--theme-sky-blue-text-color);

                    @media (max-width:576px) {
                        font-size: 30px;
                    }
                }

                p {
                    font-family: "Nunito", sans-serif;
                    font-weight: 700;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 5px;
                    font-size: 15px;

                    color: var(--theme-dark-backgroud-color);

                    @media (max-width:576px) {
                        font-size: 8px;
                    }
                }
            }

            .button-cta {
                position: relative;
                display: flex;
                gap: 20px;
                width: fit-content;
                margin: 30px auto 0 auto;

                @media (max-width:576px) {
                    flex-direction: column;
                }

                .cta {
                    cursor: pointer;
                    box-shadow: 0 50px 100px -20px rgba(50, 50, 93, .25), 0 30px 60px -30px rgba(0, 0, 0, .3), inset 0 -2px 6px 0 rgba(10, 37, 64, .35);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    border: 2px solid var(--theme-sky-blue-border-color);
                    font-size: 20px;
                    border-radius: 8px;
                    transition: .5s ease-in-out;
                    background-color: transparent;
                    color: var(--theme-dark-text-color);

                    &:hover {
                        border: 2px solid var(--theme-dark-text-color);
                        color: var(--theme-primary-white-color);
                        transition: .5s ease-in-out;
                        background-color: var(--theme-dark-backgroud-color);
                    }

                    p {
                        margin-left: 5px;
                    }
                }

            }
        }
    }
}